body {
    background: url('../assets/backgrounds/formwallpaper.jpg') no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    font-size: 36px;
    text-align: center;
    background: none;
    color: black;
}

section{
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    font-style: oblique;
    /* background-image: url('../images/backgroundbanner.png'); */
}

body p {
    text-align: center;
    font-size: 18px;
    background: none;
    color: white;
}

.bottom {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 85%;
    background: black;
    color: white;
    transform: translate(-50%, 50%)
}

.bottom a {
    display: block;
    color: black;
    background-color: #7bd37b;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}

.bottom a:hover {
    background-color: #579457;
    cursor: pointer;
}

.input-group {
    position: relative;
    color: black;
}

.input {
    border: solid 1.5px;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: initial;
}

.input-label {
    position: absolute;
    left: 50%;
    top: 4%;
    font-style: normal;
    font-size: medium;
    pointer-events: none;
    transition: 150ms ease;
    text-align: left;
    transform: translateX(-90px) translateY(80%) scale(1.1);
}

.input:focus {
    outline: none;
    border: 1.5px solid rgb(63, 63, 240);
}

.input:focus ~ label {
    transform: translateY(-30%) scale(0.8) translateX(-130px);
}

.input:valid ~ label {
    display: none;
}

.input:valid {
    border-color: cyan;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.input:invalid {
    border-color: red;
}

.submit {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 15px;
    border: 1px solid white;
    border-radius: 1rem;
    margin-top: 30px;
}

.submit:hover {
    background: cyan;
    transition: 0.5s ease;
    cursor: pointer;
}