body {
    background-color: black;
    font-size: 1.25rem;
    color: grey;
    font-family: Tahoma;
    text-align: center;
    background: url("../assets/backgrounds/battle.jpg") center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title {
    font-family: Papyrus;
    font-size: 3.75rem;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#main {
    border-width: 2px;
    border-color: white;
}

.links {
    line-height: 40px;
}

.options {
    position: absolute;
    line-height: 30px;
    top: 75%;
    left: 10px;
}

.login-register {
    position: absolute;
    left: 10px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
}

.logo {
    border-bottom: 3px solid grey;
}

.options {
    position: absolute;
    line-height: 30px;
    top: 75%;
    left: 10px;
}

.opt {
    background-color: black;
    color: white;
    font-size: 1.5rem;
}

.skip-link {
    position: fixed;
    left: 15%;
    width: 1px;
    height: 1px;
    overflow: hidden;
    transform: translateY(-200%);
    transition: 200ms;
    background-color: beige;
}

.skip-link:focus {
    width: auto;
    height: auto;
    transform: translateY(100%);
}

.note-computer {
    position: unset;
    text-align: center;
    font-style: italic;
    color: grey;
}

.multi-menus {
    display: flex;
    position: absolute;
    bottom: 3vh;
    right: 3vw;
    width: auto;
    background: black;
    text-align: center;
    border-radius: 100px / 50px;
    border: 10px solid gold;
}

.multi-menus:hover {
    cursor: pointer;
    background: darkgrey;
}

.welcome {
    vertical-align: center;
    text-align: center;
}

.welcome h1 {
    margin: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vw;
    float: left;
}

#player-username {
    font-size: calc(2vw + 2px);
    font-style: italic;
    text-decoration-line: underline;
}

.welcome-profile {
    float: inline-end;
    vertical-align: bottom;
    width: 3vw;
    height: 3vw;
    border: 2px solid grey;
}


@media only screen and (max-width: 1024px) {
    @media only screen and (max-width: 868px) {
        .title {
            font-size: 2.8125rem;
        }
        .note-computer {
            font-size: large;
        }
    }

    @media only screen and (max-width: 868px) and (min-width: 612px) {
        .title {
            font-size: 2.5rem;
        }
    }

    @media only screen and (max-width: 510px) {
        .title {
            font-size: 2.4rem;
        }
    }

    @media only screen and (max-width: 440px) {
        .title {
            font-size: xx-large;
        }
        .note-computer {
            position: absolute;
            bottom: 20vh;
            right: 0;
            text-align: right;
            font-size: medium;
            overflow: hidden;
        }
    }
}

@media only screen and (min-width: 1250px) {
    #sidebar {
        transform: none;
    }

    .closebtn-br, .closebtn, .sidebar-openbtn {
        display: none;
    }

    @media only screen and (min-width: 1400px) {
        .title {
            font-size: 4.6875rem;
        }
    
        .note-computer {
            font-size: 30px;
        }
    
        .note-computer .note{
            display: none;
        }
    }
}