@font-face {
    font-family: rollbox-font;
    src: url("../../assets/fonts/rollbox-font/RollboxLight-VGAXy.ttf")
}

@font-face {
    font-family: neuropolitical;
    src: url("../../assets/fonts/neuropolitical/neuropolitical\ rg.otf")
}
