body {
    background: radial-gradient(circle at center, navy, black);
    height: 100%;
    display: flex;
    margin: auto;
}

@font-face {
    font-family: rollbox-font;
    src: url("../../assets/fonts/rollbox-font/RollboxLight-VGAXy.ttf")
}

.sidemenu {
    width: 250px;
    height: 100%;
    background-color: transparent;
    color: white;
}