body {
    background: linear-gradient(to right, black, navy);
    height: 100%;
    display: flex;
    margin: auto;
}

.sidemenu {
    width: 250px;
    height: 100%;
    background-color: transparent !important;
    color: white;
    position: fixed;
    left: 0;
}

#country-name {
    font-family: rollbox-font;
}

.sidemenu-tab {
    
}

.sidemenu-tab:hover {
    padding: 10px;
    background-color: gray;
}