body {
    background: linear-gradient(to top, rgba(0, 100, 0, 0.5), rgba(165, 42, 42, 0.178));
    height: 100%;
    display: flex;
    margin: auto;
}

.sidemenu {
    width: 100px;
    height: 100%;
    background-color: transparent !important;
    color: white;
    position: fixed;
    left: 0;
}

#country-name {
    font-family: rollbox-font;
}

.sidemenu-tab {
    width: 100px;
    height: 100px;
    display: block;
    background-color: gray;
}

.sidemenu-tab:hover {
    background-color: gray;
}

.sidemenu-tab img {
    width: 100px;
    height: 100px;
}

.sidemenu-tab-content {
    position: relative;
    left: 100px;
    display: none;
    height: 100vh;
    width: 75px;
}
